html,body { 
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;  
  }

  .container{
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #e2dbdb;
    text-transform: uppercase;
    font-size: 3rem;
}

.filler{
    height: 215px;
}

hr{
    border: 2px solid #F05F44;
    border-radius: 10%;
    max-width: 65px;
}

.btn{
    background-color: #F05F44;
    color: #e2dbdb;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-color: #F05F44;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover{
    background-color: white;
    color: #F05F44;
    border-color: #F05F44;
    transform: scale(1.1);
}

